# Ignore .terraform directory
.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ignore crash log files
crash.log

# Ignore override files
*.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore local .terraform directories
**/.terraform/*

# Ignore sensitive files
*.pem
*.key
*.cert

# Ignore IDE-specific files
.idea/
.vscode/